@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Karla:wght@800&display=swap');

body {
    margin: 7%;
    background-color: #1F2937;
    font-family: 'Inter';
    color: white;
}

.green {
    color:#55F991;
    margin-bottom: 10px;
}

p {
    font-size: 30px;
}

h1 {
    font-family: 'Karla';
    font-size: 70px;
    line-height: 60px;
    margin: 0;
    padding: 0;
}

.radios {
    display: block;
}

.radio-div {
    margin-left: 10px;
    display: flex;
}

.radio-div > p {
    margin: 0;
}

.characters-count-div {
    margin-right: 50px;
}

.info {
    margin-bottom: 10px;
    display: flex;
}

.info>div>p{
    margin: 0;
    margin-bottom: 5px;
}

#btn {
    display: flex;
    background: #55F991;
    border: 0;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    vertical-align: middle;
    justify-content: space-around;
    width: 400px;
    margin-top: 30px;
}

#password {
    background-color:#273549 ;
    text-align: center;
    height: 35px;
    padding: 10px 0;
    margin-right: 50px;
    border-radius: 5px;
    color: #55F991;
    word-wrap: break-word;
}

#passwords {
    display: grid;
    gap: 0;
    margin: 0 70px;
    grid-template-columns: 50% 50%;
}

hr {
    height: 0;
    margin: 50px 0;
}

#characters-count {
    overflow: hidden;
    -webkit-appearance: none;
    transition: 0.2s linear;
    font-size: 25px;
    position: relative;
    top: 15px;
    border: 1px solid #1F2937;
    color: #55F991;
    background-color: transparent;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 300px;
      height: 50px;
      -webkit-appearance: searchfield-results-decoration;
      background-color: #9a905d;
      border-radius: 20px;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 20px;
      background-color: #2F3947;
      position: relative;
      left: 0px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 20px;
      -webkit-appearance: none;
      height: 20px;
      border-radius: 20px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -150px 0 0 140px #55f991;
    }

}

#characters-count::-moz-range-track {
    background-color: #2F3947;
    border-radius: 50px;
}
#characters-count::-moz-range-progress {
    border: 1px solid #55F991;
    background-color: #55f991;
    border-radius: 50px;
}
#characters-count::-moz-range-thumb {
    border: 3px solid #999;
    background-color: #1F2937;
    border-radius: 50px;
}

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s linear;
    outline: none;
    margin-top: 12px;
  
    position: relative;
}

.radio:checked {
    border: 6px solid #55f991;
}

#character-count-p {
    margin: 0;
    margin-top: 20px;
    line-height: 0px;
}